$bg_color: #F5F6FA;
$white_color: #fff;
$light_black_color: #222;
$orange_color: #E17908;
$badge_bg_color: rgba(255,165,84,0.33);
$notification_color: #0E1B42;
$notification_fade_color: #878788;
$divider_orange_color: #FF8500;
$divider_grey_color: #F6F7FA;
$noti_time_color: #8186AD;
$bubble_blue_bg_color: rgba(76,82,188,0.06);
$bubble_blue_color: #4C52BC;
$bubble_red_bg_color: rgba(97,85,69,0.06);
$bubble_red_color: #F8D9AF;
$bubble_green_bg_color: rgba(74,89,91,0.06);
$bubble_green_color: #BCE2E7;
$link_color: #4A90E2;
$profile_key_color: #4A4A4A;
$warn_color: #D35E5E;
$app_divider_color: #979797;
$app_title_color: #050505;
$clock_fade_color: #9B9B9B;
$view_all_color: #4D8CF4;
$oppt_item_color: #A8A8A8;
$dot_color: #D8D8D8;
$grey_bg_color: #ddd;
$solid_red_color: #FF5F5F;
$brand_black: #303F60;